{% load staticfiles %}
<html>
    <head>
        <title>SEEDS</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Lato|Questrial" rel="stylesheet">
        <img href="//Social_Button_BG.png">
        <img href="//Political_Button_BG.png">
        <img href="//Enviornmental_Button_BG.png">
        <img href="//SeedsLogo.png">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        
    </head>
    <body>
        <br>
        <br>
        <br>
        <br>
        <div class="page-header">
            {% if user.is_authenticated %}
                <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
                <a href="{% url 'post_draft_list' %}" class="top-menu"><span class="glyphicon glyphicon-edit"></span></a>
            {% else %}
                <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
            {% endif %}
            <h1 style="margin-left: 10px; font-size: 100pt"><a href="/">SEEDS</a></h1>
        <h5 style="margin-left:-350px; font-size: 30pt";>Speech. Expression. Empowerment. Diversity. Safety.</h5>
            
        </div>
        <br>
        <br>
        <br>
        <br>
        <div class = "pol">
            <h2 style="font-size:50px"><a href="{% url 'polhome' %}">Political</a></h2>
        </div>
        <br>
        <br>
        <div class="soc">
          <h3 style="font-size:50px"><a href="{% url 'socihome' %}">Social</a></h3>
        </div>
        <br>
        <br>
        <div class="env">
            <h4 style="font-size:50px"><a href="{% url 'envihome' %}">Environmental</a></h4>
        </div>
        <br>
        <br>
        <br>
        <div class="bottom">
            <p style="color: white; text-decoration: none"><a href="{% url 'about_us' %}">About Us</a></p>
            <br>
            <p style="color: white; text-decoration: none"><a href="{% url 'contact_us' %}">Contact Us</a></p>
            <br>
            <p style="color: white; text-decoration: none"><a href="{% url 'meet_the_team' %}">Meet The Team</a></p>
                <div class="logo">
                    
                </div>
            <p>2017</p>
        </div>


    </body>
</html>